<!DOCTYPE html>
<html>
  <!doctype html>
  <html lang="en">
  
  <head>
      <%- include ('includes/header.ejs') %>
  </head>
  
  <body>
      <%- include ('includes/navigation.ejs') %>
      <div class='container' style='min-height: 450px'>
    <h2>Vulnerability: Insecure Deserialisation</h3>
        <br>
        <p>Application is using node-serialize method unserialize to parse the preference cookie, your goal is to acheive the RCE.</p>
        <div class="card" style="width: 50%">
            <div class="card-body">
                <h4 class="card-title">Shoe preference</h4>
                <p class="card-text">
            <tr>
                <td>
                    Brand:
                </td>
            </tr>
            <tr>
                <td> Nike <input type="checkbox" id="Nike" name="brand" value="Nike"> </td>
                <td> Asics <input type="checkbox" id="Asics" name="brand" value="Asics"> </td>
            </tr>
            <tr>
                <td> Puma <input type="checkbox" id="Puma" name="brand" value="Puma"> </td>
                <td> Reebok <input type="checkbox" id="Reebok" name="brand" value="Reebok"> </td>
            </tr>
            <tr>
                <td> Jordan <input type="checkbox" id="Jordan" name="brand" value="Jordan"> </td>
                <br> 
            <tr>
                <td>
                    Color:
                </td>
            </tr>
            <tr>
                <td> Black <input type="checkbox" id="Black" name="color" value="Black"> </td>
                <td> Brown <input type="checkbox" id="Brown" name="color" value="Brown"> </td>
            </tr>
            <tr>
                <td> Blue <input type="checkbox" id="Blue" name="color" value="Blue"> </td>
                <td> White <input type="checkbox" id="White" name="color" value="White"> </td>
            </tr>
            <tr>
                <br> <br>
                <input type="button" id="btn" value="Submit">
                <div class="alert alert-success" role="alert" id="message" hidden></div>
            </div>
        </div>
        <br>
                <h5> Vulnerable Code:</h5>
<h5>
    <br>
<pre class="prettyprint">

  var serialize = require('node-serialize');
  ....  
  const preference = serialize.unserialize(req.cookies.preference);

</pre>
</h5>

                <script>
                    document.getElementById('btn').onclick = function () {
                        var brand = [];
                        var markedBrand = document.getElementsByName('brand');
                        for (var checkbox of markedBrand) {
                            if (checkbox.checked) {
                                brand.push(checkbox.value);
                            }
                        }
                        var color = []
                        var markedColor = document.getElementsByName('color');
                        for (var pcolor of markedColor) {
                            if (pcolor.checked) {
                                color.push(pcolor.value)
                            }
                        }
                        savePreference(brand, color);

                    }
                    function savePreference(prebrand, precolor) {
                        var preference = { "brand": "", "color": "" };
                        preference.brand = prebrand;
                        preference.color = precolor;
                        console.log(preference)
                        var preference = JSON.stringify(preference);
                        document.cookie = 'preference='+preference;
                        var xhr = new XMLHttpRequest();
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                                document.getElementById('message').removeAttribute('hidden');
                                document.getElementById('message').innerHTML = 'Preference updated!'
                            }
                        }
                        xhr.open('POST', window.location.origin+'/save-preference', true);
                        xhr.withCredentials = true;
                        console.log(preference)
                        xhr.send("setPreference=True");
                    }

                </script>

        </b>
</body>

</html>