<!DOCTYPE html>
<html>
<!doctype html>
<html lang="en">

<head>
    <%- include ('includes/header.ejs') %>
</head>

<body>
    <div class='container' style='min-height: 450px'>
<br>
        <div class="card" style="width: 80%">
            <div class="card-body">
                <h5 class="card-title">Change Password</h5><br>
                <p class="card-text"><label for="InputUsername">New password</label><input class="form-control" id="password" type="password" placeholder="*********"></p>
                <p class="card-text"><label for="InputUsername">Confirm password</label><input class="form-control" id="password1" type="password" placeholder="*********"></p>
                <p class="card-text"> <input type="button" onclick="editPassword()" class="btn btn-primary" value="Save"></p>
            </div>
        </div>
        <script>
            function editPassword(){
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function (){
                    if(xhr.readyState === XMLHttpRequest.DONE && xhr.status===200){
                        sendMessage(xhr.responseText);
                    }
                }
                xhr.open("POST", "/edit-password");
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.withCredentials = true;
                xhr.send("password=" + password.value+"&password_confirm="+password1.value);
                
            }
            function sendMessage(text){
                window.opener.postMessage(text, '*');
                window.close();
            }
        </script>
</body>

</html>