<!doctype html>
<html lang="en">

<head>
    <%- include ('includes/header.ejs') %>
</head>

<body>
    <%- include ('includes/navigation.ejs') %>
    <div class='container' style='min-height: 450px'>
        <div class='row'>
            <div class='col-md-12'>
<h2>Vulnerabilities</h2>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Command Injection</h5>
          <p class="card-text">Application is using exec method to run ping, your goal is to acheive the Remote Code Execution.</p>
          <a href="/ping" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Insecure Deserialization</h5>
          <p class="card-text">Application is using node-serialize method unserialize to parse preference cookie, your goal is to acheive the RCE.</p>
          <a href="/deserialization" class="btn btn-primary">Exploit   -&#x3e;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SQL Injection</h5>
          <p class="card-text">Application is concatinating user supplied input to SQL statement without any validation.</p>
          <a href="/sqli" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">XXE</h5>
          <p class="card-text">Application is using libxmljs to parse xml file but noent flag is set to true which enable external entities parsing.</p>
          <a href="/xxe" class="btn btn-primary">Exploit   -&#x3e;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">XSS</h5>
          <p class="card-text">Explore multiple XSS vulnerabilities occuring in different contexts.</p>
          <a href="/xss" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SSTI</h5>
          <p class="card-text">Application is dynamically rendering template</p>
          <a href="/ssti" class="btn btn-primary">Exploit   -&#x3e;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JWT 1</h5>
          <p class="card-text">Application is using weak secret to create JWT that can lead to authentication bypass.</p>
          <a href="/jwt1" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">IDOR</h5>
          <p class="card-text">Application has functionality to store the notes, can you access the notes saved in <code>vulnlabAdmin</code> account.</p>
          <a href="/notes" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SSRF via PDF generator</h5>
          <p class="card-text">Application is using html-pdf-node to generate ticket pdf your goal is to acheive the SSRF</p>
          <a href="/ticket" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Message XSS </h5>
          <p class="card-text">Application has functionality to update password, which opens a new window and listens for the post message can you exploit it?</p>
          <a href="/user-edit" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Message CSRF</h5>
          <p class="card-text">Application has functionality to add users in organization, your goal is to add your self in a victim organization by exploiting web messages.</p>
          <a href="/organization" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Message Information Disclosure</h5>
          <p class="card-text">Can you steal the user API token by exploiting Web Message.</p>
          <br>
          <a href="/api-token" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CORS Information Disclosure</h5>
          <p class="card-text">Steal the user API token by exploiting CORS.</p><br>
          <a href="/cors-api-token" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CORS CSRF</h5>
          <p class="card-text">Application has insecure CORS implementation, your goal is to change user password by exploiting CORS.</p>
          <a href="cors-csrf-edit-password" class="btn btn-primary">Exploit -&#x3e;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</body>
</title>
</html>
