<!DOCTYPE html>
<html>
<title>Vulnerable NodeJs app</title> 
<body>
<h2>Vulnerabilities</h2>
<a href="/ping">Command Injection</a>
<br>
<a href="/sqli">SQL Injection</a>
<br>
<a href="/xss">XSS</a>
<br>
<a href="/xxe">XXE</a>
<br>
<a href="/auth">IDOR</a>
<br>
<a href="/jwt1">JWT I</a>
<br>
</body>
</title>
</html>
