<!DOCTYPE html>
<html>
<!doctype html>
<html lang="en">

<head>
    <%- include ('includes/header.ejs') %>
</head>

<body>
    <%- include ('includes/navigation.ejs') %>
    <div class='container' style='min-height: 450px'>
        <h2>JSONP Injection</h2>
        <br>
        <p>Application is using JSONP for fetching wallet balance information your goal is to steal wallet information of other users.
        <div class="card" style="width: 50%">
            <div class="card-body">
                <h4 class="card-title">Your Wallet</h4>
                <p class="card-text">
                <h5 style="display: inline;">Total Value:</h5> <b><span id="total_value"
                        style="font-size: 14px"></span></b><br><br>
                <img src="/images/Bitcoin-BTC-icon.png"> Bitcoin: <b><span id="bitcoin_usd_value"
                        style="font-size: 14px"></span></b>
                <br><sup><b> <%= BTC %></b></sup><br>
                <img src="/images/Ethereum-ETH-icon.png"> Ethereum: <b><span id="ethereum_usd_value"
                        style="font-size: 14px"></span></b>
                <br><sup><b> <%= ETH %></b></sup><br>
                </p>
            </div>
        </div>
        <br><br>
        <script>
            window.onload = function () {
                function fetchWalletBalance() {
                    $.ajax({
                        dataType: 'jsonp',
                        callback: 'updateBalance',
                        dataType: 'jsonp',
                        url: '/jsonp-injection/wallet-usd-balance',
                        async: false,
                        success: function (data) {
                            updateBalance(data);
                        }
                    });
                    setTimeout(fetchWalletBalance, 5000);
                }
                fetchWalletBalance();

                function updateBalance(data){
                    document.getElementById('total_value').innerHTML = "$" + data.total.toFixed(4);
                    document.getElementById('bitcoin_usd_value').innerHTML = "$" + data.btc.toFixed(4);
                    document.getElementById('ethereum_usd_value').innerHTML = "$" + data.eth.toFixed(4);
                }
            }
        </script>
</body>

</html>