<!DOCTYPE html>
<html>
    <title>JWT-1 Weak Secret</title>
    <body>
        <h2>Vulnerability: Weak JWT Secret</h2>
        <br><p>Application is using weak JWT secret your goal is to access secret saved inside
            Admin user account</p><br>
        </p>
    </body>
</html>