<!DOCTYPE html>
<html>
<!doctype html>
<html lang="en">

<head>
    <%- include ('includes/header.ejs') %>
</head>

<body>
    <%- include ('includes/navigation.ejs') %>
    <div class='container' style='min-height: 450px'>
        <h2>JWT Weak Secret</h2>
        <br>
        <p>Application is using weak secret to create JSON web token that can lead to authentication bypass. Your goal is to access API Key of username: <code class="highlighter-rouge">vulnlabAdmin</code></p>
        <div class="card" style="width: 50%">
            <div class="card-body">
                <h5 class="card-title">API Token</h5>
                <p class="card-text"><input class="form-control" id="apiKey" type="text" value=""
                        placeholder="*************" readonly></p>
                <input type="submit" value="Show" onclick="getToken()" class="btn btn-primary">
            </div>
        </div>
        <br><br>
        <h4> Vulnerable Code:</h4>
        <h5>
            <pre class="prettyprint">

  # .env 
  JWT_SECRET=secret

  # controllers/auth_controller.js
  function generateAccessToken(username, email) {
    const payload = {"username": username};
    return jwt.sign(payload, secret);
  }
                </pre>
        </h5>
        <script>
            function getToken() {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                        document.getElementById("apiKey").value = xhr.response;
                    }
                }
                xhr.open('GET', window.location.origin+'/jwt1/apiKey')
                xhr.withCredentials = true;
                xhr.send();
            }
        </script>
</body>

</html>