<!DOCTYPE html>
<html>
<!doctype html>
<html lang="en">

<head>
    <%- include ('includes/header.ejs') %>
</head>

<body>
    <%- include ('includes/navigation.ejs') %>
    <div class='container' style='min-height: 450px'>
        <h2>Organization Management</h2>
        <br>
        <p>Your goal is to add yourself in a victim organization by exploiting web messages.</p>
        <div class="card" style="width: 50%">
            <div class="card-body">
                <h5 class="card-title" id="orgcard">Create Organization</h5>
                <p class="card-text"><input class="form-control" id="org" type="text" value="" placeholder="Org name">
                </p>
                <input type="submit" id="createOrg" value="Create" onclick="createOrg()" class="btn btn-primary">
                <div id="createOrgMessage" style="color: green"></div>
                <hr>
                <h5 class="card-title">Org Users</h5>
                <div id="orgUsers"></div>
                <br>
                <input type="submit" value="Add Users"
                    onclick="window.open('organization/add-user','popup','width=600,height=600')" style="background: none!important;
                border: none;
                padding: 0!important;
                /*optional*/
                font-family: arial, sans-serif;
                /*input has OS specific font-family*/
                color: #069;
                text-decoration: underline;
                cursor: pointer;">
                <br><br>
                <div id="userAddMessage" style="color: green;"></div>
            </div>
        </div>
        <br><br>
        <script>

            loadOrg();
            loadUsers();
            function createOrg() {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                        document.getElementById('orgcard').innerHTML = "Your Organization";
                        document.getElementById('org').setAttribute('readonly', 'true');
                        document.getElementById('createOrg').setAttribute('hidden', true)
                        document.getElementById("createOrgMessage").innerHTML = "Org successfully created";

                    }
                }
                xhr.open('POST', window.location.origin + '/organization')
                xhr.withCredentials = true;
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                xhr.send("orgname=" + org.value);
            }

            window.addEventListener('message', function (event) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                        document.getElementById("userAddMessage").innerHTML = "User Added";
                        loadUsers();
                    }
                }
                xhr.open('POST', window.location.origin + '/organization/add-user')
                xhr.withCredentials = true;
                xhr.setRequestHeader('Authorization', '<%=token%>');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send("user=" + event.data);
            })

            function loadOrg() {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                        document.getElementById('org').value = xhr.responseText;
                        document.getElementById('orgcard').innerHTML = "Your Organization";
                        document.getElementById('org').setAttribute('readonly', 'true');
                        document.getElementById('createOrg').setAttribute('hidden', true)
                    }
                }
                xhr.open('GET', window.location.origin + '/organization/myorg')
                xhr.withCredentials = true;
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                xhr.send();
            }

            function loadUsers() {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                        var users = JSON.parse(xhr.responseText);
                        users.forEach((element) => {
                            orgUsers.insertAdjacentHTML('beforebegin', `<li style="margin-left: 15px;">${element.username}</li>`)
                        });
                    }
                }
                xhr.open('GET', window.location.origin + '/organization/myorg/users');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                xhr.send();
            }
        </script>
</body>

</html>