<!DOCTYPE html>
<html>
  <!doctype html>
  <html lang="en">
  
  <head>
      <%- include ('includes/header.ejs') %>
  </head>
  
  <body>
      <%- include ('includes/navigation.ejs') %>
      <div class='container' style='min-height: 450px'>
        <h2>SQL Injection</h2>
        <br>
        <p>Application is concatinating user supplied input to SQL statement without any santization your goal is to extract credentials of <code>vulnlabAdmin</code> account.</p>
        <div class="card" style="width: 50%">
            <div class="card-body">
                <h5 class="card-title">Check trains from Delhi</h5>
                <p class="card-text">
                    <input type="text" id="val1" value="Delhi" readonly> <br>To<br>
                    <select name="Cars" id="val2" size="5">
                        <option value="Kolkata"> kolkata </option>
                        <option value="Mumbai"> Mumbai </option>
                        <option value="Lucknow"> Lucknow </option>
                        <option value="Chennai"> Chennai </option>
                        <option value="Ahmedabad"> Ahmedabad </option>
                    </select>
                </p>
                <input type="button" value="Check" onclick="submit()" class="btn btn-primary">
                <h5><br>    
                    <pre id="result"></pre>
                </h5>
            </div>
        </div>
        <br><br>
        <h4> Vulnerable Code:</h4>
        <h5>
            <pre class="prettyprint">

  router.get('/sqli/:from-:to', vuln_handler.sqli_check_train_get);
  ...
  const sqli_check_train_get = (req, res) => {
    const from = req.params.from;
    const to = req.params.to;
    const q = "SELECT ntrains FROM trains where from_stnt='" + from + "' and to_stnt='" + to + "';";
    con.connect(function (err) {
        if (err) throw err;
        con.query(q, (err, results) => {
            if (err) {
                res.send(err);
            };
            res.send(JSON.stringify(results));
        });
    });
  }
                </pre>
        </h5>
    <script>
        function submit() {
            if (val2.value == ""){
                alert("Please select destination station")
                return
            } 
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    const res = JSON.parse(xhr.responseText);
                    document.getElementById("result").innerHTML = "Number of trains " + res[0].ntrains + ".";
                }
            }
            xhr.open('GET', window.location.origin+'/sqli/' + val1.value + '-' + val2.value, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.withCredentials = true;
            xhr.send();
        }
    </script>
<h4><a href="/sqli-fixed">Fixed SQL Injection -&#x3e;</a></h4>
<br><br>
</body>

</html>
