<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .datepicker {
            font-size: 0.875em;
        }

        /* solution 2: the original datepicker use 20px so replace with the following:*/

        .datepicker td,
        .datepicker th {
            width: 1.5em;
            height: 1.5em;
        }
    </style>
    <%- include ('includes/header.ejs') %>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet" />
</head>

<body>
    <%- include ('includes/navigation.ejs') %>
    <div class='container' style='min-height: 450px'>
        <h2>Ticket booking system</h2>
        <br>
        <p>Book your tickets</p>
        <div class="card" style="width: 60%">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="passengerName">Passenger Name</label>
                        <input type="input" id="passengerName" placeholder="Passenger name">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="from_stnt">From Station</label>
                        <select name="Cars" id="from_stnt" size="5">
                            <option value="Kolkata"> kolkata </option>
                            <option value="Mumbai"> Mumbai </option>
                            <option value="Lucknow"> Lucknow </option>
                            <option value="Chennai"> Chennai </option>
                            <option value="Ahmedabad"> Ahmedabad </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="to_stnt">To Station</label>
                        <select name="Cars" id="to_stnt" size="5">
                            <option value="Kolkata"> kolkata </option>
                            <option value="Mumabi"> Mumbai </option>
                            <option value="Lucknow"> Lucknow </option>
                            <option value="Chennai"> Chennai </option>
                            <option value="Ahmedabad"> Ahmedabad </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="date">Journey Date</label>
                        <input data-date-format="dd/mm/yyyy" id="datepicker">
                        <br><br>
                        <input type="button" value="Book" onclick="book()">
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <script>
            function book() {
                if (passengerName.value == "" || from_stnt.value == "" || to_stnt.value == "" || datepicker.value == "") {
                    alert("please fill the form")
                } else {
                    window.location = window.location.origin + '/ticket/booking?passenger_name=' + passengerName.value + '&from_stnt=' + from_stnt.value + '&to_stnt=' + to_stnt.value + '&date=' + datepicker.value;
                }
            }
            $('#datepicker').datepicker({
                weekStart: 1,
                daysOfWeekHighlighted: "6,0",
                autoclose: true,
                todayHighlight: true,
                setStartDate: new Date()
            });
            $('#datepicker').datepicker("setDate", new Date());

        </script>
</body>

</html>