<!DOCTYPE html>
<html>
<!doctype html>
<html lang="en">

<head>
    <%- include ('includes/header.ejs') %>
</head>

<body>
    <%- include ('includes/navigation.ejs') %>
    <div class='container' style='min-height: 450px'>
        <h2>postMessage XSS</h2>
        <br>
        <p>Your goal is to perform XSS by exploiting<code class="highlighter-rouge"> web message.</code></p>
        <div class="card" style="width: 50%">
    
            <div class="card-body">
                <h5 class="card-title">User profile</h5>
                <br>
                <p class="card-text"><label for="InputUsername">Username</label>
                <input class="form-control" id="username" type="text" value="<%=username%>" readonly></p>
                <p class="card-text"><label for="InputEmail">Email</label>
                <input class="form-control" id="email" type="text" value="<%=email%>" readonly></p>
                <p class="card-text"><input style="background: none!important;
                    border: none;
                    padding: 0!important;
                    /*optional*/
                    font-family: arial, sans-serif;
                    /*input has OS specific font-family*/
                    color: #069;
                    text-decoration: underline;
                    cursor: pointer;" type="button" onclick="window.open('edit-password','popup','width=600,height=600')" value="Change Password"></p>
                <div id="displayMessage"  class="alert alert-success" role="alert" hidden></div>
            </div>
        </div>
        <script>
            window.addEventListener("message", function(event){
                document.getElementById("displayMessage").removeAttribute('hidden')
                document.getElementById("displayMessage").innerHTML = event.data;
            })
        </script>
</body>

</html>