<!DOCTYPE html>
<html>
  <head>
      <%- include ('includes/header.ejs') %>
  </head>
  
  <body>
      <%- include ('includes/navigation.ejs') %>
      <div class='container' style='min-height: 450px'>
        <h2>XXE Lab</h2>
        <br>
        <p>Application is using <code class="highlighter-rouge">libxmljs</code> for parsing xml which allows parsing of external entities if  <code class="highlighter-rouge">noent</code> flag is set to  <code class="highlighter-rouge">true</code>, your goal is to read <b>/etc/passwd</b> file.</p>
        <div class="card" style="width: 50%">
            <div class="card-body">
                <h5 class="card-title">Comment</h5>
                <p class="card-text">Your Comment:<pre id="user-comment"></pre>
                <textarea id="comment" rows="8" cols="50"></textarea></p>
                <input type="submit" id="postcomment" value="Send" onclick="postcomment()" class="btn btn-primary">
            </div>
        </div>
        <br><br>
        <h4> Vulnerable Code:</h4>
        <h5>
            <pre class="prettyprint">

  var libxmljs = require('libxmljs');
  ....
  const rawcomment = req.body.comment;
  const parsecomment = libxmljs.parseXmlString(rawcomment, {noent: true,noblanks:true}); // Vuln: noent is set to true
  var comment = parsecomment.get('//content');
  comment = comment.text();
  res.send(comment)

                </pre>
        </h5>
<script>
function postcomment(){
  var comment = document.getElementById('comment').value
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
      var res = xhr.responseText;
      document.getElementById("user-comment").innerHTML = res;
      document.getElementById('comment').value = ''
    }
  }
  data = 'comment=<?xml version="1.0" encoding="UTF-8"?><root><comment><content>'+comment+'</content></comment></root>'
  xhr.open('POST', window.location.origin+'/comment', true); 
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.withCredentials = true; 
  xhr.send(data);
}
</script>
</body>
</html>
